<%- model_class = BusinessPlan -%>
<div class="page-header">
  <h1><%=t '.title', :default => BusinessPlan %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:ownership) %></th>
      <th><%= model_class.human_attribute_name(:start_plan) %></th>
      <th><%= model_class.human_attribute_name(:location) %></th>
      <th><%= model_class.human_attribute_name(:organization_structure) %></th>
      <th><%= model_class.human_attribute_name(:management_team) %></th>
      <th><%= model_class.human_attribute_name(:team_gaps) %></th>
      <th><%= model_class.human_attribute_name(:personnel_plan) %></th>
      <th><%= model_class.human_attribute_name(:product_desc) %></th>
      <th><%= model_class.human_attribute_name(:sourcing_and_fulfillment) %></th>
      <th><%= model_class.human_attribute_name(:technology_used) %></th>
      <th><%= model_class.human_attribute_name(:expansion_plan) %></th>
      <th><%= model_class.human_attribute_name(:value_prop) %></th>
      <th><%= model_class.human_attribute_name(:competitive_advantage) %></th>
      <th><%= model_class.human_attribute_name(:positioning_statement) %></th>
      <th><%= model_class.human_attribute_name(:pricing_strategy) %></th>
      <th><%= model_class.human_attribute_name(:general_promo_strat) %></th>
      <th><%= model_class.human_attribute_name(:distro_patterns) %></th>
      <th><%= model_class.human_attribute_name(:sales_strat) %></th>
      <th><%= model_class.human_attribute_name(:sales_programs) %></th>
      <th><%= model_class.human_attribute_name(:strategic_partner) %></th>
      <th><%= model_class.human_attribute_name(:milestone) %></th>
      <th><%= model_class.human_attribute_name(:segmentation_strategy) %></th>
      <th><%= model_class.human_attribute_name(:market_needs) %></th>
      <th><%= model_class.human_attribute_name(:market_trends) %></th>
      <th><%= model_class.human_attribute_name(:market_growth_potential) %></th>
      <th><%= model_class.human_attribute_name(:industry_analysis) %></th>
      <th><%= model_class.human_attribute_name(:industry_participants) %></th>
      <th><%= model_class.human_attribute_name(:distro_patterns) %></th>
      <th><%= model_class.human_attribute_name(:buying_patterns) %></th>
      <th><%= model_class.human_attribute_name(:financial_assumptions) %></th>
      <th><%= model_class.human_attribute_name(:financial_indicators) %></th>
      <th><%= model_class.human_attribute_name(:pandl) %></th>
      <th><%= model_class.human_attribute_name(:cash_flow) %></th>
      <th><%= model_class.human_attribute_name(:balance_sheet) %></th>
      <th><%= model_class.human_attribute_name(:long_term) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @business_plans.each do |business_plan| %>
      <tr>
        <td><%= business_plan.id %></td>
        <td><%= business_plan.title %></td>
        <td><%= business_plan.ownership %></td>
        <td><%= business_plan.start_plan %></td>
        <td><%= business_plan.location %></td>
        <td><%= business_plan.organization_structure %></td>
        <td><%= business_plan.management_team %></td>
        <td><%= business_plan.team_gaps %></td>
        <td><%= business_plan.personnel_plan %></td>
        <td><%= business_plan.product_desc %></td>
        <td><%= business_plan.sourcing_and_fulfillment %></td>
        <td><%= business_plan.technology_used %></td>
        <td><%= business_plan.expansion_plan %></td>
        <td><%= business_plan.value_prop %></td>
        <td><%= business_plan.competitive_advantage %></td>
        <td><%= business_plan.positioning_statement %></td>
        <td><%= business_plan.pricing_strategy %></td>
        <td><%= business_plan.general_promo_strat %></td>
        <td><%= business_plan.distro_patterns %></td>
        <td><%= business_plan.sales_strat %></td>
        <td><%= business_plan.sales_programs %></td>
        <td><%= business_plan.strategic_partner %></td>
        <td><%= business_plan.milestone %></td>
        <td><%= business_plan.segmentation_strategy %></td>
        <td><%= business_plan.market_needs %></td>
        <td><%= business_plan.market_trends %></td>
        <td><%= business_plan.market_growth_potential %></td>
        <td><%= business_plan.industry_analysis %></td>
        <td><%= business_plan.industry_participants %></td>
        <td><%= business_plan.distro_patterns %></td>
        <td><%= business_plan.buying_patterns %></td>
        <td><%= business_plan.financial_assumptions %></td>
        <td><%= business_plan.financial_indicators %></td>
        <td><%= business_plan.pandl %></td>
        <td><%= business_plan.cash_flow %></td>
        <td><%= business_plan.balance_sheet %></td>
        <td><%= business_plan.long_term %></td>
        <td><%=l business_plan.created_at, format: :long %></td>
        <td>
          <%= link_to business_plan_path(business_plan), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to business_plan_path(business_plan), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_business_plan_path,
            :class => 'btn btn-primary' %>
