<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @business_plan.title %>
</p>

<p>
  <strong>Ownership:</strong>
  <%= @business_plan.ownership %>
</p>

<p>
  <strong>Start plan:</strong>
  <%= @business_plan.start_plan %>
</p>

<p>
  <strong>Location:</strong>
  <%= @business_plan.location %>
</p>

<p>
  <strong>Organization structure:</strong>
  <%= @business_plan.organization_structure %>
</p>

<p>
  <strong>Management team:</strong>
  <%= @business_plan.management_team %>
</p>

<p>
  <strong>Team gaps:</strong>
  <%= @business_plan.team_gaps %>
</p>

<p>
  <strong>Personnel plan:</strong>
  <%= @business_plan.personnel_plan %>
</p>

<p>
  <strong>Product desc:</strong>
  <%= @business_plan.product_desc %>
</p>

<p>
  <strong>Sourcing and fulfillment:</strong>
  <%= @business_plan.sourcing_and_fulfillment %>
</p>

<p>
  <strong>Technology used:</strong>
  <%= @business_plan.technology_used %>
</p>

<p>
  <strong>Expansion plan:</strong>
  <%= @business_plan.expansion_plan %>
</p>

<p>
  <strong>Value prop:</strong>
  <%= @business_plan.value_prop %>
</p>

<p>
  <strong>Competitive advantage:</strong>
  <%= @business_plan.competitive_advantage %>
</p>

<p>
  <strong>Positioning statement:</strong>
  <%= @business_plan.positioning_statement %>
</p>

<p>
  <strong>Pricing strategy:</strong>
  <%= @business_plan.pricing_strategy %>
</p>

<p>
  <strong>General promo strat:</strong>
  <%= @business_plan.general_promo_strat %>
</p>

<p>
  <strong>Distro patterns:</strong>
  <%= @business_plan.distro_patterns %>
</p>

<p>
  <strong>Sales strat:</strong>
  <%= @business_plan.sales_strat %>
</p>

<p>
  <strong>Sales programs:</strong>
  <%= @business_plan.sales_programs %>
</p>

<p>
  <strong>Strategic partner:</strong>
  <%= @business_plan.strategic_partner %>
</p>

<p>
  <strong>Milestone:</strong>
  <%= @business_plan.milestone %>
</p>

<p>
  <strong>Segmentation strategy:</strong>
  <%= @business_plan.segmentation_strategy %>
</p>

<p>
  <strong>Market needs:</strong>
  <%= @business_plan.market_needs %>
</p>

<p>
  <strong>Market trends:</strong>
  <%= @business_plan.market_trends %>
</p>

<p>
  <strong>Market growth potential:</strong>
  <%= @business_plan.market_growth_potential %>
</p>

<p>
  <strong>Industry analysis:</strong>
  <%= @business_plan.industry_analysis %>
</p>

<p>
  <strong>Industry participants:</strong>
  <%= @business_plan.industry_participants %>
</p>

<p>
  <strong>Distro patterns:</strong>
  <%= @business_plan.distro_patterns %>
</p>

<p>
  <strong>Buying patterns:</strong>
  <%= @business_plan.buying_patterns %>
</p>

<p>
  <strong>Financial assumptions:</strong>
  <%= @business_plan.financial_assumptions %>
</p>

<p>
  <strong>Financial indicators:</strong>
  <%= @business_plan.financial_indicators %>
</p>

<p>
  <strong>Pandl:</strong>
  <%= @business_plan.pandl %>
</p>

<p>
  <strong>Cash flow:</strong>
  <%= @business_plan.cash_flow %>
</p>

<p>
  <strong>Balance sheet:</strong>
  <%= @business_plan.balance_sheet %>
</p>

<p>
  <strong>Long term:</strong>
  <%= @business_plan.long_term %>
</p>

<%= link_to 'Edit', edit_business_plan_path(@business_plan) %> |
<%= link_to 'Back', business_plans_path %>
