<%- model_class = MarketingPlan -%>
<div class="page-header">
  <h1><%=t '.title', :default => MarketingPlan %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:value_proposition) %></th>
      <th><%= model_class.human_attribute_name(:objective) %></th>
      <th><%= model_class.human_attribute_name(:plan_desc) %></th>
      <th><%= model_class.human_attribute_name(:type_of_activity) %></th>
      <th><%= model_class.human_attribute_name(:start_date) %></th>
      <th><%= model_class.human_attribute_name(:end_date) %></th>
      <th><%= model_class.human_attribute_name(:implementation_team) %></th>
      <th><%= model_class.human_attribute_name(:estimated_budget) %></th>
      <th><%= model_class.human_attribute_name(:media_strat) %></th>
      <th><%= model_class.human_attribute_name(:distro_channels) %></th>
      <th><%= model_class.human_attribute_name(:milestone_of_completion) %></th>
      <th><%= model_class.human_attribute_name(:success_indicator) %></th>
      <th><%= model_class.human_attribute_name(:monitor_method) %></th>
      <th><%= model_class.human_attribute_name(:outcomes) %></th>
      <th><%= model_class.human_attribute_name(:appendix_additional) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @marketing_plans.each do |marketing_plan| %>
      <tr>
        <td><%= marketing_plan.id %></td>
        <td><%= marketing_plan.title %></td>
        <td><%= marketing_plan.value_proposition %></td>
        <td><%= marketing_plan.objective %></td>
        <td><%= marketing_plan.plan_desc %></td>
        <td><%= marketing_plan.type_of_activity %></td>
        <td><%= marketing_plan.start_date %></td>
        <td><%= marketing_plan.end_date %></td>
        <td><%= marketing_plan.implementation_team %></td>
        <td><%= marketing_plan.estimated_budget %></td>
        <td><%= marketing_plan.media_strat %></td>
        <td><%= marketing_plan.distro_channels %></td>
        <td><%= marketing_plan.milestone_of_completion %></td>
        <td><%= marketing_plan.success_indicator %></td>
        <td><%= marketing_plan.monitor_method %></td>
        <td><%= marketing_plan.outcomes %></td>
        <td><%= marketing_plan.appendix_additional %></td>
        <td><%=l marketing_plan.created_at, format: :long %></td>
        <td>
          <%= link_to marketing_plan_path(marketing_plan), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to marketing_plan_path(marketing_plan), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_marketing_plan_path,
            :class => 'btn btn-primary' %>
