<p id="notice"><%= notice %></p>

<p>
  <strong>Buyer profile:</strong>
  <%= @marketing_plan.buyer_profile %>
</p>

<p>
  <strong>Title:</strong>
  <%= @marketing_plan.title %>
</p>

<p>
  <strong>Value proposition:</strong>
  <%= @marketing_plan.value_proposition %>
</p>

<p>
  <strong>Objective:</strong>
  <%= @marketing_plan.objective %>
</p>

<p>
  <strong>Plan desc:</strong>
  <%= @marketing_plan.plan_desc %>
</p>

<p>
  <strong>Type of activity:</strong>
  <%= @marketing_plan.type_of_activity %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @marketing_plan.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @marketing_plan.end_date %>
</p>

<p>
  <strong>Implementation team:</strong>
  <%= @marketing_plan.implementation_team %>
</p>

<p>
  <strong>Estimated budget:</strong>
  <%= @marketing_plan.estimated_budget %>
</p>

<p>
  <strong>Media strat:</strong>
  <%= @marketing_plan.media_strat %>
</p>

<p>
  <strong>Distro channels:</strong>
  <%= @marketing_plan.distro_channels %>
</p>

<p>
  <strong>Milestone of completion:</strong>
  <%= @marketing_plan.milestone_of_completion %>
</p>

<p>
  <strong>Success indicator:</strong>
  <%= @marketing_plan.success_indicator %>
</p>

<p>
  <strong>Monitor method:</strong>
  <%= @marketing_plan.monitor_method %>
</p>

<p>
  <strong>Outcomes:</strong>
  <%= @marketing_plan.outcomes %>
</p>

<p>
  <strong>Appendix additional:</strong>
  <%= @marketing_plan.appendix_additional %>
</p>

<%= link_to 'Edit', edit_marketing_plan_path(@marketing_plan) %> |
<%= link_to 'Back', marketing_plans_path %>
