<%= form_for @swot, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :company_name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :company_name, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :strength, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :strength, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :weak, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :weak, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :opportunity, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :opportunity, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :threat, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :threat, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  swots_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
