<%= form_for @buyer_profile, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :name, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :description, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :buyer_goals, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :buyer_goals, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :target_features, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :target_features, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :potential_hesitations, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :potential_hesitations, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :acquisition_location, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :acquisition_location, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  buyer_profiles_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
