<%- model_class = BuyerProfile -%>
<div class="page-header">
  <h1><%=t '.title', :default => BuyerProfile %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:buyer_goals) %></th>
      <th><%= model_class.human_attribute_name(:target_features) %></th>
      <th><%= model_class.human_attribute_name(:potential_hesitations) %></th>
      <th><%= model_class.human_attribute_name(:acquisition_location) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @buyer_profiles.each do |buyer_profile| %>
      <tr>
        <td><%= buyer_profile.id %></td>
        <td><%= buyer_profile.name %></td>
        <td><%= buyer_profile.description %></td>
        <td><%= buyer_profile.buyer_goals %></td>
        <td><%= buyer_profile.target_features %></td>
        <td><%= buyer_profile.potential_hesitations %></td>
        <td><%= buyer_profile.acquisition_location %></td>
        <td><%=l buyer_profile.created_at, format: :long %></td>
        <td>
          <%= link_to buyer_profile_path(buyer_profile), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to buyer_profile_path(buyer_profile), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_buyer_profile_path,
            :class => 'btn btn-primary' %>
